input {
    background-color: white;
    color: rgb(0, 0, 0);
    width: auto;
    border-radius: 4%;
    border: solid 2px rgb(182, 182, 182);
    transition: ease 1s;
    height: 25px;
}
.app {
   margin-left: 15%;
   margin-right: 15%; 
   background-color: white;
}
input:hover {
    border-radius: 5%;
    border: solid 2px rgb(0, 0, 0);
}
body {
    background-image: url(./zdj/The\ Last\ of\ Us\ Part\ 2\ \ \ 38\ 4K\ ScreenshotsWallpapers\ r.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
